<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992893123986-uudjlfl2glvvvfs4oapktc0ne8tbv438.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992893123986-uudjlfl2glvvvfs4oapktc0ne8tbv438</string>
	<key>API_KEY</key>
	<string>AIzaSyCS5NYarP3oWDw9d2D2V2NoI531Qs7nI2o</string>
	<key>GCM_SENDER_ID</key>
	<string>992893123986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whats-app-713e4</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-app-713e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992893123986:ios:f005b75f92830e11e7954b</string>
</dict>
</plist>